body{
	margin: 0px;
	padding: 0px;
	list-style: none;
	background-color: #101019;
}
h1{
	font-size: 50px;
	color: white;
	font-family: 'Permanent Marker', cursive;
	text-align: center;
}
h1 span{
	color: #08177B;
}
h2{
	color: white;
    font-family: 'Mulish', sans-serif;
	text-align: center;
}
a{
	text-decoration: none;
	color: white;
}
p{
	font-size: 18px;
    font-family: 'Mulish', sans-serif;
	color: white;
	text-align: center;
}
.cabecalho{
	border-radius: 25px;
	background-color: black;
	display: flex;
	justify-content: space-between;
	padding: 25px;
	align-items: center;
	flex-wrap: wrap;
}
.menu{
	display: flex;
}
.menu li{
	margin-left: 15px;
}
.menu li a{
	font-family: 'Mulish', sans-serif;
	border-radius: 25px;
	display: block;
	padding: 12px;
	background: #08177B;
}
.menu li a:hover{
	background: #760B0B;
	transition: background 0.5s;
}
img{
	max-width: 100%;
	display: block;
}
.imgAnimes img{
	border-radius: 15px 15px 0px 0px;
}
.imgAnimes{
	display: flex;
	flex-wrap: wrap;
	max-width: 1000px;
	margin: 0 auto;
}
.imgAnimes > div{
	max-width: 300px;
	border-radius: 15px;
	flex: 1 1 300px;
	margin: 7px;
	background-color: #02082C;
}
.imgAnimes > div:hover{
	background: #760B0B;
	transition: background 0.5s;
}
.contatos{
	display: flex;
	flex-wrap: wrap;
	max-width: 200px;
	margin: 0 auto;
}
.contatos > div{
	flex: 2 2 20px;
	margin: 5px;
}
.sobre{
	text-align: center;
}
.destaque{
	color: white;
	font-weight: bold;
}
.botao-ver-mais{
	color: white;
	font-family: 'Mulish', sans-serif;
	border-radius: 25px;
	display: block;
	padding: 10px;
	background: #08177B;
}
.ver-mais{
	justify-content: center;
	background-color: #101019;
	display: flex;
	padding: 10px;
	align-items: center;
}
.botao-ver-mais:hover{
	cursor: pointer;
	background: #760B0B;
	transition: background 0.5s;
}
#logo-site{
	width: 120px;
	margin-left: 50px;
}
@media screen and (max-width: 600px){
	.cabecalho{
	border-radius: 10px;
	background-color: black;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	align-items: center;
	flex-wrap: wrap;
	}
	#logo-site{
		width: 50px;
		margin-left: 15px;
	}
	menu li a{
	font-size: 10px;
	font-family: 'Mulish', sans-serif;
	border-radius: 5px;
	display: block;
	padding: 4px;
	background: #08177B;
	}
	.imgAnimes > div{
		border-radius: 5px;
		flex: 1 1 100px;
		display: flex;
		flex-wrap: wrap;
		max-width: 100px;
		align-items: center;
		margin: 4px;
		background-color: #02082C;
	}
	.imgAnimes img{
	border-radius: 5px 5px 0px 0px;
	}
	.imgAnimes p{
	font-size: 8px;
	
	margin: auto;
	}
	p{
		font-size: 10px;
	}
	h2{
		font-size: 15px;
	}
	.contatos img{
         max-width: 20px;
		 margin: 2px;
	}
	.sobre p{
		font-size: 8px;
	}
}